#! stdtmpl
#proc genIndex(packages: seq[Package]): string =
#  result = ""
<style>
.babel-pkgs .star {
  font-weight: bolder;
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
}
.babel-pkgs .star img {
  height: 1em;
  width: 1em;
  position: absolute;
  z-index: -100;
  margin-left: -2px;
}
</style>
<div class=babel-pkgs>
<ul>
#for p in packages:
<li>
  <a href="${xmlEncode(p.web)}">${xmlEncode(p.name)}</a>

  # if p.stars > 0:
  <span class=star title="Github stargazers">
    <img src="//atomshare.net/nimrod/star.jpg"
         alt="Github stargazers">
    ${p.stars}</span>
  # end if

  # let description = if p.description.endsWith("."): p.description else: p.description & "."
  ${xmlEncode(description)} License: ${xmlEncode(p.license)}
</li>
#end for
</div>
